<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoebiusScreensaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MoebiusScreensaver.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MoebiusScreensaver.Properties.Settings>
            <setting name="RotationSpeed" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="StripColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PointSize" serializeAs="String">
                <value>5</value>
            </setting>
        </MoebiusScreensaver.Properties.Settings>
        <MoebiusScreensaver.Settings1>
            <setting name="RotationSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StripColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PointSize" serializeAs="String">
                <value>5</value>
            </setting>
        </MoebiusScreensaver.Settings1>
    </userSettings>
</configuration>